In [1]:
number = 1
number

In [2]:
string = '3'
string

In [3]:
number+string

In [4]:
eval(string)

3

In [5]:
number + eval(string)

4

In [6]:
#output: 1 3
print(number + string)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
print(str(number) + string)

13

In [8]:
print(number, string)

1 3

In [9]:
print('Hello world!')
print(number, string)

Hello world!
1 3

In [10]:
#print('Hello world!')
print(number, string)

1 3

In [11]:
#3-5
#商數
7//3

2

In [12]:
#餘數
7%3

1

In [13]:
#次方
4**(1/2)

2.0

In [14]:
a = 100
b = 200
temp = a
a = b
b = temp
print(a, b)

200 100

In [15]:
#3-11
a = 1
#a = a + 1
a += 1
a

2

In [17]:
a = input()
a

3

'3'

In [18]:
a = eval(input())
a

3

3

In [19]:
a, b = eval(input())
print(a, b)

3,5
3 5

In [20]:
#4-4
import math
math.sin(5)

-0.9589242746631385

In [21]:
#5-23
5 > 3

True

In [22]:
1 > 3

False

In [23]:
#任何一個是False =>False
(5 > 3) and (1 > 3)

False

In [24]:
#全部都是True =>True
(5 > 3) and (3 < 6)

True

In [25]:
#任何一個是True =>True
(5 > 3) or (1 > 3)

True

In [26]:
#全部都是False =>False
(2 > 3) or (1 > 3)

False

In [27]:
not (2 > 3) or (1 > 3)

True

In [28]:
(5 > 3) and (1 > 3) or (6 % 2 == 0)

True

In [29]:
not((5 > 3) and (1 > 3) or (6 % 2 == 0) )

False

In [31]:
num = eval(input())
if num % 2 == 0:
    print(num, 'is an even number.')
else:
    print(num, 'is a odd number.')

5
5 is a odd number.

In [32]:
num = 58
if (num-20) > 30 and (num+20) < 70:#False
    print(num, '在50附近')
elif (num > 50) or (num % 3 == 0 ):#True
    print(num, '大於50或除3的餘數等於0')
else:
    print(num)

58 大於50或除3的餘數等於0

In [36]:
total = 0
k = 2
while k <= 40:
    print('total=', total ,' k=', k)
    total = total + k
    k += 2
print('2+4+6+7+8+...+38+40 =', total)

total= 0  k= 2
total= 2  k= 4
total= 6  k= 6
total= 12  k= 8
total= 20  k= 10
total= 30  k= 12
total= 42  k= 14
total= 56  k= 16
total= 72  k= 18
total= 90  k= 20
total= 110  k= 22
total= 132  k= 24
total= 156  k= 26
total= 182  k= 28
total= 210  k= 30
total= 240  k= 32
total= 272  k= 34
total= 306  k= 36
total= 342  k= 38
total= 380  k= 40
2+4+6+7+8+...+38+40 = 420

In [34]:
total = 0
for i in range(2, 41, 2):
    print('total=', total ,' i=', i)
    total += i
print('2+4+6+7+8+...+38+40 =', total)

total= 0  i= 2
total= 2  i= 4
total= 6  i= 6
total= 12  i= 8
total= 20  i= 10
total= 30  i= 12
total= 42  i= 14
total= 56  i= 16
total= 72  i= 18
total= 90  i= 20
total= 110  i= 22
total= 132  i= 24
total= 156  i= 26
total= 182  i= 28
total= 210  i= 30
total= 240  i= 32
total= 272  i= 34
total= 306  i= 36
total= 342  i= 38
total= 380  i= 40
2+4+6+7+8+...+38+40 = 420

In [37]:
i = 0
while True:
    i += 1
    if i >= 10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [38]:
i = 0
while i <= 10:
    i += 1
    if i % 2 == 0:
        continue
    print(i,'是基數')

1 是基數
3 是基數
5 是基數
7 是基數
9 是基數
11 是基數

In [39]:
for i in range(0, 5):
    for j in range(0, 5-i):
        print(j)

0
1
2
3
4
0
1
2
3
0
1
2
0
1
0